p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
}

h1 {
    color: black;
    font-family: "Bambi Bold";
    text-transform: none;
}

h2,
h3 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
}

ol.lista li {
        color: black;
        list-style-type: decimal;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        

}

div.footer__social-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 20px;  
}

.footer_copyright p {
        color: gray;
        font-family: Arial, Helvetica, sans-serif;
        font-size: smaller;
}

/* mi barra de navegacion*/

*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    text-align: center;
    background-color: white;
    /*  position: fixed;*/
}

nav ul li{
    list-style: none;
    padding: 5px 10px;
    margin: 5px;
    background-color: white;
    display: inline-block;
    
}

li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-family: sans-serif;
}

/*Flexbox*/

.header__nav-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


 .border {
    border: 1px solid black;
 }
 

 .shake-vertical {
	-webkit-animation: shake-vertical 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shake-vertical 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-11-30 23:37:8
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-vertical
 * ----------------------------------------
 */
 @-webkit-keyframes shake-vertical {
    0%,
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateY(8px);
              transform: translateY(8px);
    }
    80% {
      -webkit-transform: translateY(6.4px);
              transform: translateY(6.4px);
    }
    90% {
      -webkit-transform: translateY(-6.4px);
              transform: translateY(-6.4px);
    }
  }
  @keyframes shake-vertical {
    0%,
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateY(8px);
              transform: translateY(8px);
    }
    80% {
      -webkit-transform: translateY(6.4px);
              transform: translateY(6.4px);
    }
    90% {
      -webkit-transform: translateY(-6.4px);
              transform: translateY(-6.4px);
    }
  }
  
